:root {
  --main-font: Playfair Display;
  --basic-font: Roboto;
}

body {
  background: rgb(75, 7, 51);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-card {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.text-center {
  text-align: center;
}

.main-intro {
  padding-bottom: 20px;
}

.card {
  background: rgba(255, 60, 158, 0.6);
  margin-top: 30px 0;
}

.card-body {
  padding: 20px;
}

.card-footer {
  padding: 10px;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
  border-radius: 12px;
}

.btn {
  font-family: var(--basic-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  padding: 16px;
  border-radius: 100px;
  color: white;
  background: rgba(223, 14, 151, 1);
  display: block;
}

section {
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: linear-gradient(
      360deg,
      rgba(3, 5, 4, 0.9) 0%,
      rgba(2, 4, 3, 0.7) 51.55%,
      rgba(11, 6, 32, 0.6) 100%
    ),
    url("../images/SKZ-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: linear-gradient(
      360deg,
      #030504 0%,
      rgba(2, 4, 3, 0.3) 51.55%,
      rgba(11, 6, 32, 0) 100%
    ),
    url("../images/SKZ-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: var(--main-font);
  font-size: 128px;
  line-height: 1;
  font-weight: 700;
  margin: 30px 0 30px;
}

header h2 {
  font-family: var(--basic-font);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
}

header h3 {
  font-family: var(--basic-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0 auto;
}

header a {
  font-family: var(--basic-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  width: 146px;
  height: 23px;
  padding: 16px 32px 16px 32px;
  border-radius: 100px;
  color: white;
  background: rgba(223, 14, 151, 1);
  display: inline-block;
  margin-top: 10px;
}

img {
  max-width: 100%;
}

main {
  color: white;
}

main h2 {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: left;
  color: rgba(223, 14, 151, 1);
  margin: 0;
}

main h3 {
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}

main h4 {
  font-family: var(--basic-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin: 0;
}

main h5 {
  font-family: var(--basic-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin: 0;
}

main p {
  font-family: var(--basic-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url(../images/SKZ-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 31.99px;
}

footer p {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header: {
    padding: 60px 0;
  }

  header h1 {
    font-size: 64px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .first-section-img {
    display: none;
  }

  .info h2,
  .info h3 {
    text-align: center;
  }

  footer {
    padding: 45px;
  }

  footer h3 {
    font-size: 18px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .grid-card {
    grid-template-columns: 1fr 1fr;
  }

  .grid-3-columns {
    grid-template-columns: 1fr 1fr;
  }

  section {
    padding: 30px;
  }
}
